.emp {
  /* text-align: center; */
  padding: 3%;
  /* margin-top: 3%; */
  /* padding-left: 35%; */
  width: 700px;
  margin: auto;
  /* margin-bottom: 3%; */
  border-radius: 0.5rem;
  background: rgb(183, 212, 201);
  box-shadow: 5px 5px 5px 5px hsl(0, 15%, 25%);
}
