.post {
  width: 100%;
  float: left;
  padding-left: 5%;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  background: rgb(255, 254, 254);
  margin-bottom: 40px;
  border-radius: 3px;
}


.post-detail .post .caption {
  padding: 55px 45px 0px 45px;
}

.post .caption {
  float: left;
  width: 100%;
  text-align: left;
  padding: 25px 25px;
}

.post .caption p {
  line-height: 28px;
  margin-bottom: 20px;
  font-size: 16px;
}


.vt-post.post .caption {
  padding: 25px 0px;
}

.post .caption h3 {
  margin: 0px 0px 20px 0px;
  color: #f70e19;
  font-weight: 300;
  font-size: 34px;
  line-height: 42px;
}
.md-heading {
  font-size: 24px !important;
  line-height: 36px !important;
  margin-bottom: 15px !important;
}

.post .caption p {
  color: #000000;
}
